.section_1{
    height: 500px;
    background-image: url(../backdrop.jpg);
    padding-top: 10%;
}
body{
    overflow-x: hidden
}

@media(max-width:768px){
    .section_1{
        height: auto;
    }
    #head1,#head2{
        font-size: 60px;
    }
    #picture_5,#picture_8,#picture_11,#picture_14,#picture_17{
        padding-top: 40px;
    }
    
}