/*font-family: 'Anton', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Amatic SC', cursive;
*/


body{
/*    background-color: #212121;*/
    overflow-x: hidden;
    
}

.banner{
    height: 600px;
    background-image: url(../resources/HOME%20PAGE-2%20KING%20AND%20ANIMAL%20DANCING-1-2-3%20FINAL.....jpg);
    background-size:cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
   
}
.banner-header h2{
    padding-top:150px;
    padding-right: 10px;
    color: black;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bolder;
}


header h1{

    text-align: center
}
nav{
    background-color: #CDDC39;
}
nav a{
    color: black;
}
.carousel-inner img{
    height: 500px;
    border-radius: 10%;
    
}

.nav-link:hover{
    border-bottom: 4px solid black;

}

#gallery_section{
    background-color: #212121;
}

#gallery-image {
    height: 300px;
    width: 100%;
}
#gallery-image1{
    height: 400px;
    width: 100%;
}


#video_section_main{
        background-color: #ffffff;
}
#video_player
{
    margin-top: 20px;
}