body,html{
    overflow-x: hidden;
    height: auto;
    width: auto;
}

.gallery{
height: 200px;
width: 200px;
background-color: black;
position: relative;
bottom: 25px;
clip-path: polygon(0 0, 0% 100%, 100% 0);
 transform: rotate(-40deg);
}
#gallery_tip{
    position: relative;
    top: 5%;
    left: 10%;
    font-size: 40px;
    color: white;  
}
.video{
float: right;
height: 200px;
width: 200px;
background-color: black;
position: relative;
bottom: 29%;
right: 1%; 
clip-path: polygon(100% 0, 0 0, 100% 100%);
 transform: rotate(40deg);
}
#video_tip{
      position: relative;
    top: 5%; font-size: 40px;color: white; 
    left: 40%;
}



.section_1{
    height: 800px;
    width: 100%;
    padding-top: 2%;
    background-attachment: fixed;
    background-image: url(../banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.section_1 h1,.section_1 h2{
    font-weight: bolder;
   position: relative;
    bottom: 220px;
    left: 60px;
  
}

.section_2{
    height: 450px;
    padding-top: 5%;
    background-color: black;
    color: white;
    
}
.part_1,.part_2{
    height: auto;
    font-family: 'Amatic SC', cursive;
    padding-left: 60px;
    padding-right: 60px;
}

.section_3{
    height: auto;
    background-color: #212121;
    padding-top: 2%;
    color: white;
    text-align: center;
}

#contact_left{
    padding: 2%;
}

@media(max-width:768px){
    
 
    .part_1,.part_2{
        font-size: 22px! important;
        height:auto;
    }
    .part_1_heading{
         font-size: 33px! important;
    }

    .part_2_heading{
         font-size: 33px! important;
      
    }
    .section_3_heading{
         font-size: 40px! important;
    }
    .section_1_heading{
        font-size: 31px! important;
    }
    .section_1{
        padding-top: 150px;
        height: auto;
    }
    .section_1 h1,.section_1 h2{
        position: relative;
        bottom: 210px;
     left: 40px;
      
    }
.gallery
{
        height: 100px;
        width: 100px;
        bottom: 145px;
}
    
#gallery_tip{
  
    top: 5%;
    left: 10%;
    font-size: 20px;
 
}
    
.video{
    float: right;
    height: 100px;
    width: 100px;
    top: -240px;
    right: 1%; 
  
}
#video_tip
    {
    top: 5%; font-size: 20px;
    left: 35%;
}
.section_2
{
        height: 100%;
}

  
}

@media(max-width:768px){ 
    
}