body,html{
    overflow-x: hidden;
    height: auto;
    width: auto;
}

.home{
height: 200px;
width: 200px;
background-color: black;
position: relative;
bottom: 25px;
clip-path: polygon(0 0, 0% 100%, 100% 0);
 transform: rotate(-40deg);
}
#home_tip{
    position: relative;
    top: 5%;
    left: 10%;
    font-size: 40px;
    color: white;  
}
.gallery{
float: right;
height: 200px;
width: 200px;
background-color: black;
position: relative;
bottom: 29%;
right: 1%; 
clip-path: polygon(100% 0, 0 0, 100% 100%);
 transform: rotate(40deg);
}
#gallery_tip{
      position: relative;
    top: 4%; font-size: 40px;color: white; 
    left: 30%;
}



.section_1{
    height: 800px;
    width: 100%;
    padding-top: 2%;
    background-attachment: fixed;
    background-image: url(../banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.section_1 h1,.section_1 h2{
font-family: 'Merriweather', serif;
 position: relative;
bottom: 190px;
left: 250px;
width: 800px;
}


@media(max-width:768px){
    body,html{
    overflow-x: hidden;
    height: auto;
    width: auto;
}
    
    #head1,#head2{
        font-size: 60px;
    }
    #picture_5,#picture_8,#picture_11,#picture_14,#picture_17{
        padding-top: 40px;
        width: 100%;
  
    }
        .section_1{
        padding-top: 150px;
        height: auto;
        
    }
    .section_1 h1,.section_1 h2{
        position: relative;
        bottom: 230px;
        font-size: 31px;
        left: 50px;
        width: 250px;
        font-family: 'Merriweather', serif;
    }
   
.home
{
        height: 100px;
        width: 100px;
        bottom: 145px;
}
    
#home_tip{
  
    top: 5%;
    left: 10%;
    font-size: 20px;
 
}
    
.gallery{
    float: right;
    height: 100px;
    width: 100px;
    top: -240px;
    right: 1%; 
  
}
#gallery_tip
    {
    top: 5%; font-size: 20px;
    left: 35%;
}
    .row{
        width: 500px;
    }
    
}